.container-boxes {
  border: solid transparent 30px;
  margin: 0;
  display: flex;
  align-items: center;
}

.box {
  border: 0 !important;
  color: white;
  height: 15vh;
  font-size: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  transition-property: flex;
  transition-duration: 1s;
}

.box:nth-of-type(1) {
  background: yellow;
}

.box:nth-of-type(2) {
  background: greenyellow;
}

.box:nth-of-type(3) {
  background: orange;
}

.box:nth-of-type(4) {
  background: green;
}

.box:nth-of-type(5) {
  background: turquoise;
}

.box:nth-of-type(6) {
  background: blue;
}

.box:nth-of-type(7) {
  background: violet;
}

.box:nth-of-type(8) {
  background: red;
}

/* css pseudo class */
.box:hover {
  /* background-color: blue; */
  flex: 1.5;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .box {
    width: 80vw;
  }
}
